{% extends "layout.html" %}
{% block content %}

<div class="user-recipes">
  <div class="page-header">
    <h2>My Gym - {{ gym_title }}</h2>
  </div>

  <div class="container">
    {% if user_gyms.count() == 0 %}
      <h5>No gym have been created!</h5>
    {% else %}
      <ul class="media-list">
        {% for gym in user_gyms %}
          <li class="media">
            <div class="media-left">
              <a class="media-left" href="#">
                <img class="media-object" src="#" style="width:64;height:64px;">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">
                <a href="#">{{ gym.gym_title }}</a>

              </h4>
              {{ gym.gym_description }}
            </div>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>

{% endblock %}
