{% extends "layout.html" %}
 
{% block content %}
 
  <h1>Forbidden</h1>
  <h4>You don't have the permission to access the requested resource. It is either read-protected or not readable by the server.</h4>
  <h4><a href="{{ url_for('gyms.index') }}">RwandaFitness</a></h4>
 
{% endblock %}