{% extends "layout.html" %}
{% from "_form_macros.html" import render_field %}
 
{% block content %}
 
 
<div class="add-gym">
 
<div class="page-header">
 
<h2>Add a New Gym</h2>
 
  </div>
 
 
 
<form action="{{ url_for('gyms.add_gym') }}" method="post">
    {{ form.csrf_token }}
 
<dl>
      {{ render_field(form.gym_title, placeholder="Enter Gym Title") }}
      {{ render_field(form.gym_description, placeholder="Enter Gym Description") }}
    </dl>
 
    <button class="btn btn-sm btn-success" type="submit">Add Gym</button>
  </form>
 
</div>
 
 
{% endblock %}