
{# project/templates/email_confirmation.html #}

Your account on RwandaFitness was successfully created.<br>
Please click the link below to confirm your email address and<br>
activate your account:
 
<p>
<a href="{{ confirm_url }}">{{ confirm_url }}</a>
</p>

<p>
--<br>
Questions? Comments? Email rwandafitness@gmail.com.
</p>