{# project/templates/email_password_reset.html #}
 
You requested that the password for your RwandaFitness app account be reset.
Please click the link below to reset your password:
 
<p>
<a href="{{ password_reset_url }}">{{ password_reset_url }}</a>
</p>
 
<p>
--<br>
Questions? Comments? Email kennedyfamilyrecipes@gmail.com.
</p>