{% extends "layout.html" %}
{% block content %}
 
<div class="user-profile">
  <div class="page-header">
    <h2>{{ gym.Gym.gym_title }}</h2>
  </div>
 
  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading">Description</div>
      <div class="panel-body">{{ gym.Gym.gym_description }}</div>
    </div>
 
    <div class="panel panel-primary">
      <div class="panel-heading">Public or Private</div>
      {% if gym.Gym.is_public %}
        <div class="panel-body">Public</div>
      {% else %}
        <div class="panel-body">Private</div>
      {% endif %}
    </div>
 
    <div class="panel panel-primary">
      <div class="panel-heading">User</div>
      <div class="panel-body">{{ gym.User.email }}</div>
    </div>
 
  </div>
</div>`
 
{% endblock %}