<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Kennedy Family Recipe App">
    <meta name="author" content="Patrick Kennedy">
    <title>RwandaFitness</title>
    <!-- styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
 
<h1>Welcome to Rwanda Fitness Website!</h1>
 
 
 
This site describes our the world of fitness in Rwanda!
 
 
<h2>Golds Gym</h2>
 
 
<h2>Be fit</h2>
 
 
<h2>Cali Fitness</h2>
 
 
<h2>Waka Fitness</h2>
 
  </body>
</html>