{% extends "layout.html" %}
{% block content %}
 
<div class="user-profile">
  <div class="page-header">
    <h2>User Gyms</h2>
  </div>
 
  <table class="table table-striped" id="owned_stock_table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for gym in user_gyms %}
      <tr>
        <td><a href="{{ url_for('gyms.gym_details', gym_id=gym.id) }}">{{ gym.gym_title }}</a></td>
        <td>{{ gym.gym_description }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
 
{% endblock %}
